[Unit]
Description=Padel Court Whisperer
After=network.target

[Service]
User=simon
Group=simon
WorkingDirectory=/projects/padel-court-whisperer
ExecStart=/bin/bash -c 'uv run -m padel_court_whisperer'
Restart=always

[Install]
WantedBy=multi-user.target
